{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["import", "react"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "max-len": ["error", { "code": 80, "ignoreUrls": true }],
    "quotes": ["error", "single"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
